
.controll{
    width:80%;
    height: 20px;
    border:solid 1px blue;
    margin:auto 2px;
    display:inline-block;
    font-size:12px;
    background-color: aqua;
}
.cage:hover{
    border:solid 2px black;
    margin:1px;
}